body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
}

button {
  border: none;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  padding: 15px;
  color: #fff;
  background: #d9183b;
  border-radius: 7px;
}

.btn:hover {
  background: #bd4f63;
}

.btn-white {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  padding: 15px;
  background: #fff;
  border-radius: 7px;
  margin-top: 3em;
  margin-left: 45%;
  margin-right: 47%;
}

.btn-white:hover {
  color: #fff;
  background: #000;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
}

.menu li {
  font-family: "Poppins", sans-serif;
  margin-left: 10px;
}

.menu li::after {
  content: "";
  display: block;
  width: 28px;
  height: 1px;
  background: #000;
  margin: -10px 10px 0px 10px;
}

.menu a:hover {
  color: #fff;
}

.menu li:hover::after {
  background: #fff;
}

.menu li a {
  display: block;
  padding: 10px;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.5em;
  margin-top: 2.5em;
  margin-bottom: 0.2em;
}

.credential {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.home {
  padding: 1em 13% 2em 13%;
  height: 75vh;
  background: url("../img/home-bg-2.png") no-repeat center;
  background-size: cover;
}

.home-icons {
  display: flex;
  margin-bottom: 100px;
}

.home-icons li {
  margin-left: 3px;
  margin-right: 17px;
}

.home-about-link {
  margin-bottom: 100px;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
}

h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: #000;
  margin: 8px auto;
}

.about {
  padding: 1em 0 3em 0;
}

.about h3 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 2rem;
  margin: 2em 5% 1em 13%;
}

.about h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: #000;
  margin: 2px;
}

.about h4 {
  font-size: 1.5rem;
  font-weight: normal;
}

.about-me-flex {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.about-me-flex img {
  align-self: center;
}

.description {
  max-width: 40%;
  margin-right: 70px;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 74%;
  margin: 0 auto;
  grid-gap: 20px;
}

.skills img {
  align-self: center;
  margin-right: 10px;
}

.skills p {
  max-width: 80%;
}

.skills-subtitle {
  display: flex;
}

.portfolio {
  background: url("../img/portfolio-bg-2.png") no-repeat center;
  background-size: cover;
  padding: 1em 0 2.5em 0;
}

.portfolio h2 {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #fff;
}

.portfolio h2::after {
  background: #fff;
}

.portfolio-list ul,
.designs-list ul {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  max-width: 1400px;
  margin: 0 auto;
  grid-gap: 30px;
  padding: 10px;
}

.grid1 a,
.grid2 a,
.grid3 a,
.grid4 a {
  text-align: center;
}

.grid1 a li,
.grid2 a li,
.grid3 a li,
.grid4 a li {
  height: 23vh;
}

.grid1 a li p,
.grid2 a li p {
  margin-left: 20%;
}

.grid1 a li h3::after {
  margin-left: 39%;
}

.grid1 a:nth-child(3) h3::after {
  margin-left: 45%;
}

.grid1 a:nth-child(1),
.grid4 a:nth-child(1) {
  background: gray;
  grid-column: 1 / 6;
}

.grid1 a:nth-child(2),
.grid4 a:nth-child(2) {
  background: gray;
  grid-column: 6 / 11;
}

.grid1 a:nth-child(3),
.grid4 a:nth-child(3) {
  background: gray;
  grid-column: 11 / 18;
}

.grid2 a:nth-child(1) h3::after {
  margin-left: 35%;
}

.grid2 a:nth-child(2) h3::after {
  margin-left: 45%;
}

.grid2 a:nth-child(3) h3::after {
  margin-left: 44%;
}

.grid2 a:nth-child(1) {
  background: gray;
  grid-column: 1 / 5;
}

.grid2 a:nth-child(2) {
  background: gray;
  grid-column: 5 / 12;
}

.grid2 a:nth-child(3) {
  background: gray;
  grid-column: 12 / 18;
}

.grid3 a:nth-child(1) {
  background: gray;
  grid-column: 1 / 10;
}

.grid3 a:nth-child(2) {
  background: gray;
  grid-column: 10 / 18;
}

.grid3 a:nth-child(1) h3::before,
.grid3 a:nth-child(1) h3::after,
.grid3 a:nth-child(2) h3::before,
.grid3 a:nth-child(2) h3::after {
  margin-left: 45%;
}

.grid4 a li h3::before,
.grid4 a li h3::after {
  margin-left: 40%;
}

.grid4 a:nth-child(3) h3::before,
.grid4 a:nth-child(3) h3::after {
  margin-left: 45%;
}

.grid1 img,
.grid2 img {
  position: absolute;
  left: 150px;
  top: 100px;
  z-index: -1;
}

.grid3 img,
.grid4 img {
  position: absolute;
  margin: 100px -8%;
}

.grid1 h3,
.grid2 h3 {
  z-index: 1;
  margin-top: 1em;
}

.items .design {
  position: relative;
}

.grid3 h3:nth-child(1),
.grid4 h3 {
  position: absolute;
  top: 0;
  left: 180px;
  text-align: center;
}

.hidden {
  opacity: 0;
}

.items:hover {
  transform: scale(1);
}

.items:hover .hidden {
  opacity: 1;
}

.portfolio-list ul li p {
  max-width: 60%;
}

.portfolio-list h3,
.designs-list h3 {
  font-size: 2.2rem;
  font-weight: normal;
}

.portfolio-list h3::after,
.designs-list h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: #000;
}

.designs {
  padding: 1em 0 3em 0;
}

.designs-list {
  margin-bottom: 3em;
}

.designs h2 {
  margin-top: 1em;
  margin-bottom: 3em;
}

.designs-list h3::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: #000;
  margin: 2px;
}

.designs .btn {
  margin-left: 45%;
  margin-right: 47%;
}

.designs-list h3 {
  margin-top: 2.5em;
}

.contact {
  background: url("../img/contact-bg-2.png") no-repeat center;
  background-size: cover;
  padding: 1em 0 2.5em 0;
}

.contact h2 {
  margin-top: 1em;
  margin-bottom: 3em;
}

.contact h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.contact-area-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1400px;
  margin: 0 auto;
  grid-gap: 20px;
}

.form-grid {
  margin-right: 20%;
}

.linkedin-grid {
  margin: 1em 0 1em 40%;
}

.form input {
  display: block;
  width: 100%;
  border: 3px solid #8c1414;
  background: #f2cb05;
  padding: 7px 10px;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  margin-bottom: 10px;
}

.form textarea {
  display: block;
  width: 100%;
  height: 8vh;
  border: 3px solid #8c1414;
  background: #f2cb05;
  padding: 7px 10px;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 2em;
}

.contact .not-show {
  visibility: hidden;
  position: absolute;
  height: 0px;
}

.form button {
  margin-left: 77%;
  padding: 0.5em 10% 0.5em 10%;
  font-size: 1em;
}

.linkedin-grid h3 {
  margin-left: 17%;
}

.linkedin-grid a {
  padding: 0.5em 20% 0.5em 20%;
  font-size: 1em;
}

.linkedin-grid a img {
  position: relative;
  top: 0.2em;
  margin-right: 2%;
}

.social-media ul {
  display: flex;
  flex: wrap;
  justify-content: center;
}

.social-media ul li {
  margin-left: 20px;
}

footer p {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  color: #fff;
  background: #697b6f;
  padding: 10px 0 10px 13.3%;
  margin-top: 10px;
}

@media only screen and (min-width: 716px) (max-width: 935px) {
  .intro h1 {
    font-size: 3.5rem;
  }

  .contact-area-grid {
    max-width: 700px;
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 715px) {
  .home {
    padding: 1em 5% 2em 8%;
  }

  .intro h1 {
    font-size: 3rem;
  }

  .btn {
    font-family: "Poppins", sans-serif;
    font-size: 0.9em;
    font-weight: 200;
    padding: 15px;
  }

  .menu li a {
    display: block;
    padding: 5px;
  }

  .btn-white {
    display: inline-block;
    font-size: 1em;
    margin-left: 40%;
    margin-right: 0;
  }

  .designs .btn {
    margin-left: 40%;
  }

  .contact-area-grid {
    max-width: 610px;
    grid-gap: 0px;
  }

  .form input {
    padding: 7px 40px;
  }

  .form textarea {
    padding: 7px 40px;
  }

  .form button {
    margin-left: 96%;
    padding: 0.5em 10% 0.5em 10%;
  }
}
